body{margin: 0px;overflow: hidden;}

.fullscroll{
    .screen{
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
}
.fullscroll-dotNav{
    z-index: 1000;
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    a{
        display: block;
    }
    .navBall{
        width: 15px;
        height: 15px;
        margin: 10px;
        background-color: white;
        box-shadow: 1px 1px 1px #00000080;
        border-radius: 100%;
        transition: .6s;
        &:hover{
            width: 25px;
            height: 25px;
            margin: 5px;
        }
    }
    .ballActive{
        width: 25px;
        height: 25px;
        margin: 5px;
    }
}
.fullscroll-textNav{
    z-index: 1000;
    a{
        display: block;
        text-decoration: none;
        padding: 0px 20px;
        font-size: 25px;
        transition: .6s;
        &:hover{
            text-decoration: underline;
        }
    }
    .navTxtElmActive{
        text-decoration: underline;
        padding: 10px 50px;
    }
}

.fullscroll-bar-outer{
    background-color: #ffffff3a;
    border-radius: 10px;
    overflow: hidden;
    width: 100px;
    height: 20px;
}
.fullscroll-bar-inner{
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: 0px;
    transition: .6s width;
}

