// demopage style
body{font-family: Arial, Helvetica, sans-serif;color: white;font-size: 17px;}

.title{
    font-size: 40px;
    margin: 0px;
    width: 90vw;
    text-align: center;
}

.bg1,.bg2,.bg3,.bg4{
    position: relative;
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

.bg1{
    background-color: #52673C;
    background-image: url(https://images.unsplash.com/flagged/photo-1556091766-956db7943987?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
}
.bg2{background-color: #485837;}
.bg3{
    background-color: #2A3F13;
    background-image: url(https://images.unsplash.com/flagged/photo-1595556874986-b9898f6ff08a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80);
}
.bg4{background-color: #1F2518;}
.bgImg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.posFixed{
    position: fixed;
    z-index: 1000;
}

.fullscroll-textNav{
    top: 5%;
    right: 5%;
    display: none;
    a{
        color: #ffffff;
        text-align: right;
    }
}
.fullscroll-dotNav {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}
.demoIcon{
    top: 5%;
    left: 5%;
    width: 49px;
}
.instaLink{
    bottom: 5%;
    right: 5%;
    color: white;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.fullscroll-progress{
    left: 5%;
    bottom: 5%;
    .fullscroll-bar-outer{
        width: 50vw;
        height: 10px;
    }
}

.bl{color: steelblue;}
.gn{color: seagreen;}
.yl{color: orange;}
.codeBlock{
    width: 90vw;
    background-color: rgb(31, 31, 31);
    padding: 15px;
    overflow-x: scroll;
    box-sizing: border-box;
}

.sideBySide{
    display: inherit;
    .left{
        grid-area: left;
        h1{
            margin-top: 0px;
        }
    }
    .right{
        grid-area: right;
        h2{display: block;margin: 0px;}
    }
}
strong{
    font-weight: 750;
    color: rgb(43, 168, 60);
}

.tableStyle{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    td,th{
        border-bottom: 1px solid rgba(221, 221, 221, 0.582);
        padding: 10px 40px 10px 0px;
    }
}

@media only screen and (min-width: 910px){
    body{
        font-size: 22px;
    }
    .title{
        font-size: 80px;
        text-align: center;
    }
    .fullscroll-textNav{
        display: initial;
        a{
            display: inline-block;
            padding: 10px 20px;
        }
    }
    .fullscroll-progress{
        .fullscroll-bar-outer{
            width: 200px;
        }
    }
    .codeBlock{
        width: 100%;
    }
    .sideBySide{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'left right';
        width: 80vw;
        .left{
            padding-right: 10%;
        }
    }
    .y-center-p{
        position: relative;
    }
    .y-center-c{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}


